.wrapper{
    color: var(--PrimaryBackground);
    background-color: var(--PrimaryForeground);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.clock{
    text-align: center;
    font-weight: 100;
    font-size: 6rem;
    line-height: 6rem;

   
    
}
.date{
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 600;
    color: var(--SecondaryForeground);
    font-size: 1.6rem;
}
.peopleContainer{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
   
    margin-bottom: 2rem;
}
.personBox{

    width: 30%;
}
.iconBtns{
    display: flex;
    gap: 1rem;
}
.StickToBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}